<div class="margem-topo">
<form class="form-signin">
    

    <div class="form-label-group">
        <label for="inputEmail">Usuário</label>
      <input [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" type="email" id="usuario" class="form-control"  required autofocus>
      
    </div>
    <br/>
    <div class="form-label-group">
        <label for="inputPassword">Senha</label>
      <input [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}" type="password" id="senha" class="form-control" required>
      
    </div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block"  type="submit" name="action" (click)="fazerLogin()">Login</button>
    
  </form>
</div>