<form>
      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome">
        </div>        
  <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
      <label for="assunto">Assunto</label>
      <input type="assunto" class="form-control" id="assunto">
  </div>
  <div class="form-group">
      <label for="mensagem">Mensagem</label>
      <textarea type="text" rows="5" class="form-control" id="mensagem"></textarea>
</div> 
   
  

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>